:root {
  --color-body-background: #fefefe;
  --color-body-text: black;
  --color-nav-background: black;
  --color-nav-link: #aa4433;
  --color-nav-link-active: #ff6644;
  --color-nav-link-hover: #cc5544;
  --color-nav-link-invert: #ff9966;
  --color-nav-link-invert-active: #ffddbb;
  --color-nav-link-invert-hover: #ffbb99;
  --color-demo-background: #fefefe;
  --color-demo-text: black;
  --color-offset-white: #f1f1f1;
  --color-business-card-shadow: lightgray;
  --content-width: 45rem;
  --prev-next-nav-width: 10rem;
  --prev-next-nav-min-width: calc(var(--content-width) + var(--prev-next-nav-width) *2);
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-body-background: #212;
    --color-body-text: #ddd;
    --color-nav-background: #ccc;
    --color-nav-link: #ff6644;
    --color-nav-link-active: #ffccaa;
    --color-nav-link-hover: #ff9977;
    --color-nav-link-invert: #aa4433;
    --color-nav-link-invert-active: #ff6644;
    --color-nav-link-invert-hover: #cc5544;
    --color-demo-background: #eee;
    --color-business-card-shadow: #222;
  }
}

html {
  background-color: var(--color-nav-background);
}

body {
  color: var(--color-body-text);
  background-color: var(--color-body-background);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
}

main.demo {
  background: var(--color-demo-background);
  color: var(--color-demo-text);
  padding-bottom: 3em;
}

a {
  text-decoration: none;
}

a, a:visited {
  color: var(--color-nav-link)
}
a:hover, nav a:hover {
  color: var(--color-nav-link-hover);
}
a:active, nav a:active {
  color: var(--color-nav-link-active);
}

#intro > a {
  padding: 2em;
  text-align: center;
  font-size: xx-large;
}

#intro img {
  margin: 6em 0;
  width: calc(100vw - 4em);
}

h1 {
  font-family: 'Big Shoulders Display', sans-serif;
  word-spacing: 0.15em;  
}

#intro h1 {
  font-size: 333%;
  margin: 1.3em 0 1.5em;
}

h1.white {
  background-color: white;
  padding: 1em;
}

header, article > *, nav ul, footer p {
  box-sizing: border-box;
  max-width: var(--content-width);
  padding: 1rem;
  margin: auto;
}

article > nav:first-child {
  box-sizing: border-box;
  position: sticky;
  top: 0;
  margin: 0;
  padding: 0;
  width: 100vw;
  max-width: 100vw;
  background-color: var(--color-nav-background);
  color: var(--color-nav-link-invert);
}

article > nav:first-child ul {
  text-align: right;
  padding-top: 0;
  padding-bottom: 0;
}

article > nav:first-child li {
  padding-top: 0.3em;
  padding-bottom: 0.3em;
  display: inline-block;
  margin-left: 1em;
}

article > nav:first-child li:first-of-type {
  margin-left: 0;
  float: left;
}

article > nav:first-child a, article > nav:first-child a:visited {
  color: var(--color-nav-link-invert);
  text-decoration: none;
}

article > nav:first-child a:hover, article > nav:first-child a::selection {
  color: var(--color-nav-link-invert-hover);
}

article > nav:first-child a:active, article > nav:first-child a.active {
  color: var(--color-nav-link-invert-active);
}

nav.prevNext img {
  height: 1em;
  opacity: 0.4;
  transition: all 0.2s ease-in-out;
}

nav.prevNext a:hover img {
  opacity: 1;
}

nav.prevNext div:first-child {
  float: left;
}

nav.prevNext div:last-child {
  float: right;
}

section {
  padding-top: 2em;
}

section h1 {
  font-size: x-large;
  font-size: 400%;
}

.demo > h1 > a > img {
  max-width: 100%;
  max-height: 20vh;
  display: block;
  margin: auto;
}

.demo > h1 > a > img.half {
  display: inline-block;
  max-width: 40%;
  margin: 0 5%;
}

section h2 a {
  font-size: 150%;
}

article > header > .hashtags {
  margin: 0;
}

article > header > h3 {
  margin: 0.5em 0;
}


/*
section h1:hover::after {
  content: ' #';
  display: inline-block;
  height: 0.5em;
}

section a h1 {
  color: var(--color-body-text);
}

section a:hover h1 {
  color: var(--color-nav-link-hover);
}

section a:hover h1:after {
  content: ' #';
}

*/
ul.features {
  padding: 0;
}

a.feature {
  opacity: 0.5;
}

a.selected.feature {
  opacity: 1;
}

article > main {
  min-height: calc(100vh - 1rem - 0.6rem - 3rem - 2rem);
}

section ul > li {
  margin-bottom: 0.5em;
}

section h2 {
  margin-bottom: 0.5em;
}

section#participants > ul {
  padding-inline-start: 0;
  list-style-type: none;
  margin-bottom: 0;
}

ul.hashtags {
  display: block;
  margin: 2em 0;
  padding-inline-start: 0;
}

ul.hashtags li {
  display: inline-block;
  margin: 0 1em 0 0;
}

img.decoration {
  display: block;
  margin: 6em auto;
  height: 16em;
  max-height: 50vh;
}

div.media {
  width: 100%;
  aspect-ratio: 16 / 9;
  margin: 3em 0 3em;
}

figure img,
main > section > img,
main > img,
figure img,
.demo > section > a > img {
  box-sizing: border-box;
  width: 100%;
  margin: 3em 0 3em;
}

img.no-scale {
  width: auto;
}

figure {
  margin: 1em 0 3em;
}

figure img {
  margin: 2em 0 1em;
}

figcaption {
  font-style: italic;
}

img.logo {
  width: auto;
  max-height: 20em;
  max-width: 100%;
}

main > img.logo,
section > img.logo {
  display: block;
  text-align: center;
  margin: 3em auto;
}

.demo h1 {
  margin: 2em 0 5em;
}

.demo h2,
li h2 {
  font-family: 'Big Shoulders Display', 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-size: larger;
}

.demo h2 {
  font-size: 2.8rem;
}

.demo h2 > img {
  display: inline-block;
  max-width: 100%;
}

.demo section {
  margin-top: 6em;
}

.demo .hashtags {
  margin-bottom: 5em;
}

aside.event {
  box-sizing: border-box;
  background-color: black;
  color: white;
  border-radius: 10px;
  padding: 1.5em;
  max-width: calc(var(--content-width) - 1rem);
}

main.demo aside.event {
  margin: 2em 0;
}

aside.event + aside.event {
  margin-top: 3em;
}

aside.event a {
  color: white;
  font-weight: bold;
  text-decoration: underline;
}

aside.event.atk-paivat h2 {
  color: #EB5C18;
}

aside.event.atk-paivat {
  background-color: #0E456E;
}

aside.event.vitalis {
  background-color: #01508B;
}

aside.event.radical-health {
  background-color: #f913a1;
}

table.schedule {
  box-sizing: border-box;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0;
  box-sizing: border-box;
}

table.schedule th,
table.schedule td {
  margin: 0;
  padding: 0 10px;
  border-color: transparent;
  border-width: 0 0 5px;
  border-style: solid;
}

table.schedule th {
  text-align: left;
  padding-top: 2em;
  padding-bottom: 0.25em;
}

table.schedule td a {
  font-weight: normal;
}

table.schedule td:first-of-type {
  border-left-width: 5px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

table.schedule td:last-of-type {
  text-align: right;
  border-right-width: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

table.schedule tr.highlight + tr td {
  border-top-width: 5px;
}

table.schedule tr.highlight td {
  padding-top: 5px;
  padding-bottom: 5px;
  border-top-width: 5px;
  border-bottom-width: 5px;
  border-top-color: #EB5C18;
  border-bottom-color: #EB5C18;
  font-weight: bold;
}

table.schedule tr.highlight td:first-child {
  border-left-color: #EB5C18;
}

table.schedule tr.highlight td:last-child {
  border-right-color: #EB5C18;
}

table.participants {
  font-weight: bold;
}

table.participants td {
  vertical-align: top;
}

table.participants td:first-child {
  text-align: right;
  padding-right: 1em;
}

table.participants td:last-child {
  text-align: left;
}


footer img {
  height: 0.79em;
  height: 0.67lh;
  vertical-align: baseline;
  margin-bottom: -0.025lh;
}

footer a {
  margin: 0 1em;
}

footer a:first-of-type {
  margin-left: 0.2em;
  display: inline;
}

.business-card {
  background-color: var(--color-offset-white);
  color: black;
  position: relative;
  width: 25em;
  height: 4.5cm;
  width: 9cm;
  min-height: 10em;
  margin-left: 2em;
  box-shadow: 2px 5px 5px var(--color-business-card-shadow);
}

.business-card.white {
  background-color: white;
  border: 0.1px solid lightgray;
}

.business-card picture {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 10em;
}

.business-card picture img {
  height: 10em;
  z-index: 3;
}

.business-card h3 {
  position: absolute;
  left: 1.2rem;
}

.business-card p {
  font-size: small;
  position: absolute;
  left: 1.2rem;
  top: 3em;
}

.business-card address {
  font-size: small;
  line-height: 1.6em;
  position: absolute;
  bottom: 1.2rem;
  left: 1.2rem;
}

#contact > img {
  display: block;
  text-align: center;
  margin: 12em auto 2em;
  max-height: 30vh;
}

/* @media (min-width: calc(var(--content-width) + 30rem)) { */
@media (min-width: 67rem) {
  article > nav.prevNext {
    display: none;
  }

  nav.prevNext div {
    display: block;
    position: fixed;
    top: 0;
    min-width: 10rem;
    width: calc((100vw - 47rem) / 2);
    height: calc(100vh + 1em);
    text-align: center;
  }

  nav.prevNext a {
    display: block;
    position: absolute;
    width: 9rem;
    max-width: calc((100vw - 47rem - 18rem) / 4);
    padding: 4em;
    text-align: center;
    margin: auto;
    top: calc(50vh - 6em);
    border-radius: 9px;
    border: 1px solid transparent;
    transition: all 0.2s;
  }

  nav.prevNext div:hover a, nav.prevNext a:hover, nav.prevNext a:active {
    background-color: rgb(255, 225, 120, 0.05);
    border-color: red;
  }

  nav.prevNext div:first-child {
    left: 0;
  }
  nav.prevNext div:last-child {
    right: 0;
  }
  nav.prevNext div:first-child a {
    right: calc((100vw - 47rem - 18rem) / 4);
  }
  nav.prevNext div:last-child a {
    left: calc((100vw - 47rem - 18rem) / 4);
  }


}

@media (max-width: 600px) {

  article > nav:first-child {
    position: inherit;
  }

  article > nav:first-child ul {
    text-align: left;
  }

  /*
  article > nav:first-child li {
    margin-left: 0;
    margin-right: 1em;
  }
  
  article > nav:first-child li:last-of-type {
    margin-right: 0;
  }
  */
  article > nav:first-child li {
    margin: 0;
    display: block;
  }

  article > nav:first-child li:first-of-type {
    float: none;
  }


  #about > img {
    margin: 3em auto;
    max-width: calc(100vw - 2rem);
  }

  section ul h2 {
    margin-top: 2em;
  }

  section ul ul li {
    margin-bottom: 1em;
  }

  .business-card {
    box-sizing: border-box;
    max-width: 100vw;
  }

  nav li, footer a {
    margin: 0.4em 0;
    display: block;
  }
  footer span {
    display: none;
  }
}

@media (max-width: 450px) {
  .business-card {
    width: auto;
    height: auto;
    max-width: calc(100vw - 2rem);
    margin: 1em 0;
    padding: 1em;
    box-shadow: none;
  }
  .business-card picture {
    display: none;
  }
  .business-card picture {
    display: none;
  }
  .business-card h3, .business-card p, .business-card address {
    position: inherit;
    top: auto;
    left: auto;
    bottom: auto;
  }
}
